<button type="button" class="button">Dark</button>


<center>
	<br>
	<nav>
		<img  src = "/assets/Image/logo4.png" height="30" width="30">
		<font FACE="symbah">yoTeArriendo</font>
		<font FACE="gotham">.com</font> &emsp;
		<font FACE="gotham">
			    <button onclick="location.href='/inicio';">Inicio</button> &emsp;
				<button onclick="location.href='/tours';">Tours</button> &emsp;
				<button onclick="location.href='/hotels';">Hoteles</button> &emsp;
				<button onclick="location.href='/cities';">Ciudades</button> &emsp;
				<button onclick="location.href='/countries';">Paises</button> &emsp;
				<button onclick="location.href='/profile';">Perfil</button> &emsp;
  		</font>

	</nav>
</center>

{{outlet}}

<footer>
	<br><br>
	<div>
	<center>
		<font FACE="helveticaNeue">YoTeArriendo.com Todos los derechos reservados 2018 Medellin, Antioquia</font><img  src = "/assets/Image/logo3.png" height="30" width="30">
	</center>
	</div>
</footer>